body {
    background-color: #35393f;
}

.img-nav{
    height: 40px;
    width: auto;
}

.img-animation{
    transition: transform 0.5s ease;
}

.btn-animation:hover .img-animation {
    animation: rotate-speed 2s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
}

.nav-c, .color-d{
    background-color: #2E3034;
}

.color-d2{
    background-color: #343a40;
}
.color-m{
    background-color: #35393f;
}

.color-m::placeholder {
    color: #d1d1d1;
}

.color-m:focus {
    color: #d1d1d1;
    background-color: inherit;
    outline: none;
    box-shadow: none;
}

.color-l{
    background-color: #35373b;
}

.color-l2{
    background-color: #495057;
}

@keyframes rotate-speed {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.clickable-icon{
    cursor: pointer;
}

.separator {
    display: inline-block;
    width: 2px;
    height: 20px;
    background-color: white;
    margin: 0 20px;
}

.logout-btn a:hover .logout-h {
    color: red !important;
}

.nav-h:hover {
    color: #6064f4 !important;
}