{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/index.css') }}">
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h1 class="display-1 text-white fw-bold mb-1">Quizbot</h1>
        <p class="fs-4 text-white-50 mb-4">Aktualnie obecny na {{ count }} serwerach Discord</p>
        <a href="{{ discord_url }}" class="btn btn-dark-c d-flex align-items-center justify-content-center border border-2 border-dark rounded">
            <img src="{{ url_for('static', path='images/discord_icon.png') }}" alt="Discord" class="img-h">
            <div class="border-start border-2 border-dark mx-3 line-h"></div>
            <span class="fs-1 text-white fw-bold flex-grow-1 d-flex align-items-center justify-content-center">Zaloguj</span>
        </a>
    </div>
</div>
{% endblock %}