{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/quiz_edytor.css') }}">
{% endblock %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block content %}
<div class="container p-4 color-d rounded border border-dark mb-4">
    <form>
        <div class="mb-3">
            <input type="text" class="form-control text-white color-m border-dark" id="quizTitle" placeholder="Nazwa quizu" maxlength="200">
        </div>

        <div id="questionsContainer">
            <div class="card mb-3 border-dark">
                <div class="card-body color-l">
                    <div class="mb-3">
                        <div class="input-group mb-4">
                            <span class="input-group-text color-m border-dark text-white clickable-icon">
                                <i class="bi bi-image"></i>
                                <input type="file" class="file-input d-none" accept="image/*">
                            </span>

                            <span class="btn color-m border-dark text-white show-image-btn clickable-icon d-none">
                                <i class="bi bi-search text-white"></i>
                            </span>

                            <input type="text" class="form-control color-m border-dark text-white" placeholder="Treść Pytania" maxlength="256">

                            <span class="input-group-text color-m border-dark text-danger clickable-icon delete-icon">
                                <i class="bi bi-trash"></i>
                            </span>
                        </div>

                        <div class="input-group mb-2 border-custom">
                            <input type="text" class="form-control text-white color-m border-dark" placeholder="Treść Odpowiedzi" maxlength="60">
                            <div class="input-group-text text-white color-m border-dark">
                                <input type="checkbox" class="me-2 answer-checkbox">
                                Odpowiedź
                            </div>
                            <span class="input-group-text color-m border-dark text-danger clickable-icon delete-answer-icon">
                                <i class="bi bi-trash"></i>
                            </span>
                        </div>

                        <div class="input-group mb-2 border-custom">
                            <input type="text" class="form-control text-white color-m border-dark" placeholder="Treść Odpowiedzi" maxlength="60">
                            <div class="input-group-text text-white color-m border-dark">
                                <input type="checkbox" class="me-2 answer-checkbox">
                                Odpowiedź
                            </div>
                            <span class="input-group-text color-m border-dark text-danger clickable-icon delete-answer-icon">
                                <i class="bi bi-trash"></i>
                            </span>
                        </div>
                    </div>

                    <div class="d-flex align-items-center mt-2">
                        <span class="btn color-m border-dark text-white mt-2 add-answer-btn clickable-icon">
                            <i class="bi bi-plus"></i> Dodaj odpowiedź
                        </span>
                        <div class="d-flex align-items-center mt-2 ms-2 flex-grow-1">
                            <input type="range" class="form-range answer-range slider" min="5" max="30" value="5">
                            <span class="ms-2 text-white range-value"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex gap-2">
            <button type="button" id="addQuestionButton" class="btn btn-danger flex-grow-1">
                + Dodaj pytanie
            </button>
            <button type="button" id="saveButton" class="btn btn-success d-flex align-items-center">
                <i class="bi bi-check2-circle"></i>
            </button>
        </div>

    </form>
</div>

<script src="{{ url_for('static', path='js/quiz_edytor.js') }}"></script>
{% endblock %}